        <form>
        <div class='small-12 medium-6 columns'>

          <input id="input-todo" placeholder="What do you have to-do-loo?" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>
        </form>
