@import "compass";

@import "blueprint";
@import "typography";
@import "layout";

h1 {
  @include border-radius(5px);
  @include replace-text('http://brunch.io/images/brunch.png');
  @include trailer(0.5);

  height: 92px;
  background-color: #91a2c0;
}

li {
	padding: 20px;
	background: #000;
}

// Typography defaults
$base-font-size: 30px;

body {
  background-color: #ccc;
}

input[type="text"] {
  -webkit-appearance: none;
  background-color: #fff;
  color: #ccc;
  display: block;
  padding: 10px;
}
